/***************
    GENERAL
***************/

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.container {
    width: 70%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

/***************
    UTILITIES
***************/

.errorMessage {
    color: red;
    margin: 20px;
}

.doneTask {
    text-decoration: line-through;
    background-color: beige;
}

/***************
    STRUCTURE
***************/

.logo {
    width: 60%;
    margin: auto;
}

.newTask {
    margin: 20px;
}
    .newTask input,
    .newTask button {
        border-radius: 7px;
        padding: 5px;
        margin: 0 5px;
    }

.taskContainer ul {
    list-style-type: none;
    text-align: left;
    background-color:#f6f7f8;
    padding: 25px;
    border-radius: 10px;
}

    .taskContainer ul li {
        padding: 5px 10px;
        border-bottom: 1px solid;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

        .taskContainer ul li button {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: none;
        }